<h1>Library Management System / <%= title %></h1>

<form action="/user/create" method="post">
    <label for="name">Your Name</label> <br>
    <input type="text" id="name" name="name" required> <br>

    <label for="email">Your Email</label> <br>
    <input type="text" id="email" name="email" required> <br>

    <label for="password">Your Password</label> <br>
    <input type="text" id="password" name="password" required> <br>

    <label for="roles">Choose a role:</label> <br>
    <select id="roles" name="role">
      <option value="Librarian">Librarian</option>
      <option value="Student">Student</option>
      <option value="Teacher">Teacher</option>
    </select> <br>
    <input type="submit">

    <br>

    <p>Have already an account? <a href="/user/signIn"><u>Login here</u></a></p>
  </form>