<h1>Library Management System / <%= title %></h1>

<form action="/user/create-session" method="post">
    <label for="email">Your Email</label> <br>
    <input type="text" id="email" name="email" required> <br>

    <label for="password">Your Password</label> <br>
    <input type="text" id="password" name="password" required> <br>
    <input type="submit">

    <br>

    <p>New?<a href="/user/signUp"><u>Register here</u></a></p>
  </form>