<h1>Library Management System / <%= title %></h1>

<p><b>Name:</b> &nbsp; <%= profile_user.name %></p>
<p><b>Email:</b> &nbsp; <%= profile_user.email %></p>
<p><b>Role:</b> &nbsp; <%= profile_user.role %></p>